@mixin flex{
	display: flex;
}

@mixin column{
	flex-direction: column;
}

@mixin row{
	flex-direction: row;
}

@mixin wrap{
	flex-wrap: wrap;
}

@mixin nowrap{
	flex-wrap: nowrap;
}

@mixin hide{
	display: none;
}

@mixin show{
	display: block;
}

@mixin section-headers{
	//font-family: 
	font-size: 28px;
	margin-bottom: 40px;
	text-align: center;
}

@mixin smallest-padding{
	padding: 50px 20px;
}

@mixin phone-padding{
	padding: 50px;
}

@mixin tablet-padding{
	padding: 50px 100px;
}

@mixin desktop-padding{
	padding: 50px 160px;
}

@mixin large-desktop-padding{
	padding: 50px 260px;
}

@mixin icon-style{
	margin-right: 10px;
	color: $accent-color;
}