html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mobile First */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  background-color: #414141; }

.logo {
  display: none; }
  .logo h1 {
    font-size: 28px;
    color: #f5f5f5; }

nav ul li {
  display: inline;
  margin: 0 20px;
  list-style-type: none; }
  nav ul li a {
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none; }
    nav ul li a:hover {
      color: #c2c2c2; }

section {
  padding: 50px 20px; }

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 50px 30px 0px;
  color: #6a6a6a; }
  .about-me .my-photo {
    text-align: center; }
    .about-me .my-photo img {
      height: 300px; }
  .about-me .description {
    text-align: center; }
    .about-me .description h2 {
      margin: 12px 0px 24px;
      font-size: 36px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      color: #414141; }
    .about-me .description p {
      line-height: 30px; }
      .about-me .description p:last-of-type {
        text-align: justify; }
    .about-me .description .button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 30px 0px 50px; }
      .about-me .description .button-wrapper button {
        margin-right: 30px;
        padding: 12px 28px;
        font-size: 18px;
        background-color: inherit;
        border: 1px solid #414141;
        border-radius: 4px;
        color: #f5f5f5;
        background-color: #414141;
        font-weight: 700;
        transition: .3s all; }
        .about-me .description .button-wrapper button:hover {
          background-color: inherit;
          border: 1px solid #414141;
          color: #414141;
          cursor: pointer; }

.more-about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: #414141; }
  .more-about-me span {
    margin: 0px 30px;
    font-size: 26px; }

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 50px 20px; }
  .portfolio h3 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center; }
  .portfolio .container-portfolio-boxes {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .portfolio .container-portfolio-boxes .single-portfolio-box {
      margin-bottom: 30px; }
      .portfolio .container-portfolio-boxes .single-portfolio-box img {
        max-width: 100%; }
        .portfolio .container-portfolio-boxes .single-portfolio-box img:hover {
          opacity: 0.6; }
      .portfolio .container-portfolio-boxes .single-portfolio-box p {
        text-align: center;
        margin-top: 10px; }

.contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #999; }
  .contact-info .contact-message {
    display: none; }
  .contact-info .contact-email {
    margin-bottom: 20px; }
  .contact-info .contact-email, .contact-info .contact-phone {
    text-align: center; }
    .contact-info .contact-email a, .contact-info .contact-phone a {
      font-size: 18px;
      color: #414141;
      text-decoration: none; }
    .contact-info .contact-email span, .contact-info .contact-phone span {
      font-size: 18px;
      color: #414141; }
    .contact-info .contact-email .fa-envelope:before, .contact-info .contact-phone .fa-envelope:before {
      margin-right: 10px;
      color: #414141;
      font-size: 18px; }
    .contact-info .contact-email .fa-phone:before, .contact-info .contact-phone .fa-phone:before {
      margin-right: 10px;
      color: #414141;
      font-size: 20px; }

.contact-form {
  display: flex;
  flex-direction: column; }
  .contact-form h3 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center; }
  .contact-form form {
    display: flex;
    flex-direction: column; }
    .contact-form form .wrapper-contact-inputs {
      display: flex;
      flex-direction: column; }
    .contact-form form input, .contact-form form textarea {
      margin-bottom: 12px;
      padding: 12px;
      font-size: 14px; }
    .contact-form form textarea {
      resize: none; }
    .contact-form form button {
      padding: 12px 0px;
      font-size: 14px;
      background-color: inherit;
      color: #a9a9a9;
      border: 1px solid #a9a9a9;
      transition: .3s all; }
      .contact-form form button:hover {
        background-color: #a9a9a9;
        color: #fff;
        cursor: pointer; }

/* Styles for phones */
@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 50px; }

  .logo {
    display: block; }

  section {
    padding: 50px; }

  .about-me {
    flex-direction: row;
    padding: 50px 50px 0px; }
    .about-me .my-photo img {
      height: 430px; }
    .about-me .description {
      margin-right: 60px;
      padding-top: 60px;
      text-align: left; }
      .about-me .description .button-wrapper {
        justify-content: flex-start; }

  .more-about-me {
    justify-content: center; }
    .more-about-me span {
      font-size: 38px;
      margin: 0px 30px; }

  .portfolio .container-portfolio-boxes {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    .portfolio .container-portfolio-boxes .single-portfolio-box {
      flex-basis: 46%;
      margin: 0px 2% 30px; }

  .contact-info {
    flex-direction: row;
    justify-content: space-between; }
    .contact-info .contact-message {
      display: block;
      font-size: 18px;
      text-align: center; }
    .contact-info .contact-email {
      margin-bottom: 0px; }

  .contact-form form .wrapper-contact-inputs {
    flex-direction: row;
    justify-content: space-between; }
    .contact-form form .wrapper-contact-inputs input {
      width: 45%; }
  .contact-form form input, .contact-form form textarea {
    margin-bottom: 16px; }
  .contact-form form button {
    width: 30%;
    margin: 0 auto; } }
/* Styles for tablets */
@media only screen and (min-width: 992px) {
  header {
    padding: 16px 100px; }

  section {
    padding: 50px 100px; }

  .about-me {
    padding: 50px 100px 0px; }
    .about-me .description {
      padding-top: 80px; }
    .about-me .my-photo img {
      height: 470px; }

  .portfolio .container-portfolio-boxes .single-portfolio-box {
    flex-basis: 23%;
    margin: 0px 1% 30px; } }
/* Styles for desktops */
@media only screen and (min-width: 1200px) {
  header {
    padding: 16px 160px; }

  section {
    padding: 50px 160px; }

  .about-me {
    padding: 50px 160px 0px; }
    .about-me .description {
      padding-top: 110px;
      margin-right: 120px; }
      .about-me .description h2 {
        margin: 12px 0px 32px; }
      .about-me .description .button-wrapper {
        margin: 40px 0px 50px; }
    .about-me .my-photo img {
      height: 520px; }

  .contact-info {
    justify-content: space-around; } }
/* Styles for large-desktops */
@media only screen and (min-width: 1600px) {
  header {
    padding: 16px 260px; }

  section {
    padding: 50px 260px; }

  .about-me {
    padding: 50px 260px 0px; }
    .about-me .description {
      padding-top: 110px;
      margin-right: 150px; }
    .about-me .my-photo img {
      height: 600px; } }
.result {
  background-color: red;
  height: 40px; }

.mes {
  background-color: blue;
  height: 40px;
  padding: 20px; }

.border-error {
  border: 1px solid red; }

.valid {
  border-color: green; }

.invalid {
  border-color: red; }

.form-valid, .form-invalid {
  margin-bottom: 14px;
  padding: 16px 10px;
  font-weight: 600; }

.form-valid {
  background-color: #dff0d8;
  color: #3c763d; }

.form-invalid {
  background-color: #f2dede;
  color: #a94442; }

/*# sourceMappingURL=style.css.map */
