@import 'mixins.scss';
@import 'reset.scss';

$phone: "only screen and (min-width: 768px)";
$tablet: "only screen and (min-width: 992px)";
$desktop: "only screen and (min-width: 1200px)";
$large-desktop: "only screen and (min-width: 1600px)";


$menu-link: #f5f5f5;
$header-background: #414141;
$accent-color: #414141;
$text-color: #6a6a6a;




/* Mobile First */

header{
	@include flex;
	@include column;
	align-items: center;
	padding: 20px 10px;
	background-color: $header-background;
}

.logo{
	@include hide;
	h1{
		font-size: 28px;
		color: $menu-link;
	}
}

nav{
	ul{
		li{
			display: inline;
			margin: 0 20px;
			list-style-type: none;
			a{
				font-size: 18px;
				color: $menu-link;
				text-decoration: none;
				&:hover{
					color: darken($menu-link, 20%);
				}
			}
		}
	}
}


section{
	@include smallest-padding;
}


.about-me{
	@include flex;
	@include column;
	background-color: $menu-link;
	padding: 50px 30px 0px;
	color: $text-color;
	.my-photo{
		text-align: center;
		img{
			height: 300px;
		}
	}
	.description{
		text-align: center;
		h2{
			margin: 12px 0px 24px;
			font-size: 36px;
			font-family: 'Raleway', sans-serif;
			font-weight: 600;
			color: $accent-color;
		}
		p{
			line-height: 30px;
			&:last-of-type{
				text-align: justify;
			}
		}
		.button-wrapper{
			@include flex;
			@include row;
			justify-content: center;
			margin: 30px 0px 50px;
			button{
				margin-right: 30px;
				padding: 12px 28px;
				font-size: 18px;
				background-color: inherit;
				border: 1px solid $accent-color;
				border-radius: 4px;
				color: $menu-link;
	//			color: #F4783B;
				background-color: $accent-color;
				font-weight: 700;
				transition: .3s all;
				&:hover{
					background-color: inherit;
					border: 1px solid $accent-color;
					color: $accent-color;
					cursor: pointer;
				}
			}
		}
	}
}


.more-about-me{
	@include flex;
	@include row;
	justify-content: center;
	padding: 20px;
	background-color: $accent-color;
	span{
		margin: 0px 30px;
		font-size: 26px;
	}
}

.portfolio{
	height: 600px;
}

.contact-info{
	@include flex;
	@include column;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #999;
	.contact-message{
		@include hide;
	}
	.contact-email{
		margin-bottom: 20px;
	}
	.contact-email, .contact-phone{
		text-align: center;
		a{
			font-size: 18px;
			color: $accent-color;
			text-decoration: none;
		}
		span{
			font-size: 18px;
			color: $accent-color;
		}
		.fa-envelope:before{
			@include icon-style;
			font-size: 18px;
		}
		.fa-phone:before{
			@include icon-style;
			font-size: 20px;
		}
	}
}



.contact-form{
	@include flex;
	@include column;
	h3{
		@include section-headers;
	}

	form{
		@include flex;
		@include column;
		.wrapper-contact-inputs{
			@include flex;
			@include column;
		}
		input, textarea{
			margin-bottom: 12px;
			padding: 12px;
			font-size: 14px;
		}
		textarea{
			resize: none;
		}
		button{
			padding: 12px 0px;
			font-size: 14px;
			background-color: inherit;
			color: #a9a9a9;
			border: 1px solid #a9a9a9;
			transition: .3s all;
			&:hover{
				background-color: #a9a9a9;
				color: #fff;
				cursor: pointer;
			}
		}
	}
	
}




/* Styles for phones */

@media #{$phone}{
	header{
		@include row;
		justify-content: space-between;
		padding: 16px 50px;
	}

	.logo{
		@include show;
	}

	section{
		@include phone-padding;
	}

	.about-me{
		@include row;
		padding: 50px 50px 0px;
		.my-photo{
			img{
				height: 430px;
			}
		}

		.description{
			margin-right: 60px;
			padding-top: 60px;
			text-align: left;
			.button-wrapper{
				justify-content: flex-start;
			}
		}
	}

	.more-about-me{
		justify-content: center;
		span{
			font-size: 38px;
			margin: 0px 30px;
		}
	}

	.contact-info{
		@include row;
		justify-content: space-between;
		.contact-message{
			@include show;
			font-size: 18px;
			text-align: center;
		}
		.contact-email{
			margin-bottom: 0px;
		}
	}

	.contact-form{
		form{
			.wrapper-contact-inputs{
				@include row;
				justify-content: space-between;
				input{
					width: 45%;
				}
			}
			input, textarea{
				margin-bottom: 16px;
			}
			button{
				width: 30%;
				margin: 0 auto;
			}
		}
	}
}


/* Styles for tablets */

@media #{$tablet}{
	header{
		padding: 16px 100px;
	}

	section{
		@include tablet-padding;
	}

	.about-me{
		padding: 50px 100px 0px;
		.description{
			padding-top: 80px;
		}
		.my-photo{
			
			img{
				height: 470px;
			}
		}
	}
}




/* Styles for desktops */

@media #{$desktop}{
	header{
		padding: 16px 160px;
	}
	
	section{
		@include desktop-padding;
	}

	.about-me{
		padding: 50px 160px 0px;
		.description{
			padding-top: 110px;
			margin-right: 120px;
			h2{
				margin: 12px 0px 32px;
			}
			.button-wrapper{
				margin: 40px 0px 50px;
			}
		}
		.my-photo{
			img{
				height: 520px;
			}
		}
	}

	.contact-info{
		justify-content: space-around;
	}
}



/* Styles for large-desktops */

@media #{$large-desktop}{
	header{
		padding: 16px 260px;
	}
	
	section{
		@include large-desktop-padding;
	}

	.about-me{
		padding: 50px 260px 0px;
		.description{
			padding-top: 110px;
			margin-right: 150px;
		}
		.my-photo{
			img{
				height: 600px;
			}
		}
	}

	// .portfolio{
	// 	padding: 50px 100px;
	// 	ul{
	// 		@include flex;
	// 		@include row;
	// 		@include wrap;
	// 		li{
	// 			flex-basis: 25%;
	// 			img{
	// 				border: 3px solid #333;
	// 				width: 350px;
	// 			}
	// 		}
	// 	}
	// }
}

.result{
	background-color: red;
	height: 40px;
}

.mes{
	background-color: blue;
	height: 40px;
	padding: 20px;
}

.border-error{
	border: 1px solid red;
}


.valid{
	border-color: green;
}

.invalid{
	border-color: red;
}

.form-valid, .form-invalid{
	margin-bottom: 14px;
	padding: 16px 10px;
	font-weight: 600;
}

.form-valid{
	background-color: #dff0d8;
	color: #3c763d;
}

.form-invalid{
	background-color: #f2dede;
	color: #a94442;
}
